body {
  font-family: "Redressed", cursive;
  font-family: "Roboto Slab", serif;
  margin: 0;
  color: #f9f9fa;
}
.section1 {
  margin: 0;
  background-color: gray;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: space-between;
  background-image: url(img/background-sec1.png);
}

.section1 .div-left {
  background-color: #ff4655;
  width: 20%;
  height: 100%;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.p {
  margin: 0;
}
.avatar {
  margin-top: 30px;
  width: 70%;
  border-radius: 500px;
  border: 2px solid white;
  align-self: center;
}
.menu {
  padding: 20px;
  border-top: 2px solid white;
  text-align: center;
}
.menu:hover {
  background-color: whitesmoke;
  color: #ff4655;
  transition: 0.6s;
}
.section1 .div-right {
  width: 60%;
  height: 100%;
  margin-right: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section1 .text1 {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 2px solid #f9f9fa;
  font-size: 16px;
  padding: 10px;
  text-align: center;
}
.section1 .text1-about {
  margin-top: 20px;
  font-size: 56px;
}
.img-in-text2 {
  border-radius: 20px;
  padding: 10px;
  width: 400px;
  height: 250px;
}
.img-in-text2:hover {
  opacity: 0.7;
  transition: 0.6s;
}
i {
  margin-right: 3px;
}
.icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text2-text {
  padding: 10px;
}
.text2 {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f9f9fa;
  height: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* ------------- */
.readme {
  display: flex;
  justify-content: flex-start;
  flex-flow: row;
}
.readme a {
  width: 100%;
  max-width: 240px;
  height: 54px;
  padding: 8px;
  font-size: 0.8rem;
  font-weight: 900;
  color: #ff4655;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  box-shadow: 0 0 0 1px inset rgba(236, 232, 225, 0.3);
  position: relative;
  margin: 10px 0;
}
.readme a.white:hover > p {
  color: #ece8e1;
}
.readme a.white > p {
  background: #ece8e1;
  color: #ff4655;
}
.readme a.white > p span.base {
  border: 1px solid transparent;
}
.readme a.transparent:hover > p {
  color: #ece8e1;
}
.readme a.transparent:hover > p span.text {
  box-shadow: 0 0 0 1px #ece8e1;
}
.readme a.transparent > p {
  background: #0f1923;
  color: #ece8e1;
}
.readme a.transparent > p span.base {
  border: 1px solid #ece8e1;
}
.readme a:after,
.readme a:before {
  content: "";
  width: 1px;
  position: absolute;
  height: 8px;
  background: #0f1923;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.readme a:before {
  right: 0;
  left: initial;
}
.readme a p {
  margin: 0;
  height: 54px;
  line-height: 54px;
  box-sizing: border-box;
  z-index: 1;
  left: 0;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.readme a p span.base {
  box-sizing: border-box;
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  left: 0;
  border: 1px solid #ff4655;
}
.readme a p span.base:before {
  content: "";
  width: 2px;
  height: 2px;
  left: -1px;
  top: -1px;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
}
.readme a p span.bg {
  left: -5%;
  position: absolute;
  background: #ff4655;
  width: 0;
  height: 100%;
  z-index: 3;
  transition: 0.3s ease-out all;
  transform: skewX(-10deg);
}
.readme a p span.text {
  z-index: 4;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.readme a p span.text:after {
  content: "";
  width: 4px;
  height: 4px;
  right: 0;
  bottom: 0;
  background: #0f1923;
  position: absolute;
  transition: 0.3s ease-out all;
  z-index: 5;
}
.readme a:hover {
  color: #ece8e1;
}
.readme a:hover span.bg {
  width: 110%;
}
.readme a:hover span.text:after {
  background: #ece8e1;
}
/* ------------------------------ */
.text3 {
  height: 300px;

  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.img-in-text3 {
  border-radius: 20px;
  padding: 10px;
  width: 400px;
  height: 250px;
  margin-right: 20px;
}
.img-in-text3:hover {
  opacity: 0.7;
  transition: 0.6s;
}
/* --------------------- */
.section2 {
  margin: 0;
  width: 100%;
  height: 900px;
  display: flex;
  justify-content: space-between;
  background-image: url(img/sec2.jpeg);
  display: flex;
  justify-content: center;
}

.sec2-text1 {
  text-align: center;
}
.sec2-text2 {
  height: auto;
}
.sec2-pic {
  width: 400px;
  height: 300px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px;
  flex-direction: column;
}

.opacity-fake1 {
  background-color: rgba(0, 181, 204, 0.5);
}
.opacity-fake2 {
  background-color: rgba(0, 230, 64, 0.5);
}
.opacity-fake3 {
  background-color: rgba(255, 203, 5, 0.5);
}
.opacity-fake4 {
  background-color: rgba(155, 89, 182, 0.5);
}
.d1:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(0, 133, 185);
  transition: 1s;
}
.d2:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(0, 172, 49);
  transition: 1s;
}
.d3:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgb(255, 205, 5);
  transition: 1s;
}
.d4:hover {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(148, 22, 197, 0.349);
  transition: 1s;
}

.sec2-pic p {
  margin: 10px 10px 10px 10px;
}
.sec2-pic i {
  margin: 10px 10px 10px 10px;
}
.sec2 {
  display: flex;
}
